@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0 auto;
  text-align: center;
  background-color: #faf7ff;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100vh;
}

body {
  background-color: #faf7ff;
}

button {
  background-color: transparent;
  background-image: none;
}
