@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0 auto;
  text-align: center;
  background-color: #fffdfb;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100vh;
}
 
/* body{
  background-color: white;
} */
body{
  background-color: #fffdfb;
}


button {
  background-color: transparent;
  background-image: none;
}
